body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: blueviolet;
  margin: 0;
  padding: 0;
  height: 100vh;
}

.wrapper {
  max-width: 1000px;
width: 400px;
font-size: 18px;
color: white;
}

.head {
  padding-left: 1rem;
  width: 400px;
  height: 100px;
  text-align: center;
  color: white;
  background-color: rgb(136, 67, 202);
  display: flex;
  align-items: center;
}

span {
  padding-left: 1rem;
}

.head::before {
  content: '';
  padding: 3px;
  display: inline-block;
  background-image: url(./mountain.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 15px;
  height: 15px;
  background-color: white;
  border-radius: 50%;
}
.hero-list {
  padding: 0;
  margin: 0;
  background-color: rgb(50, 15, 83);
}

.hero-item {
  padding: 1rem;
  list-style: none;
}

.files {
  width: 400px;
  height: 100px;
  display: flex;
  align-items: center;
  color: white;
  background-color: rgb(136, 67, 202);
}
